# App
PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_NAME=sikalock
DB_USER=sikalock
DB_PASSWORD=sikalock

# Africa's Talking
AT_USERNAME=sandbox
AT_API_KEY=your_at_api_key
AT_USSD_CODE=*384*XXX#

# MTN MoMo
MOMO_ENVIRONMENT=sandbox
MOMO_CALLBACK_HOST=your_ngrok_url
MOMO_COLLECTIONS_USER_ID=generated_user_id
MOMO_COLLECTIONS_USER_SECRET=generated_user_secret
MOMO_COLLECTIONS_PRIMARY_KEY=your_primary_key
MOMO_DISBURSEMENTS_USER_ID=generated_user_id
MOMO_DISBURSEMENTS_USER_SECRET=generated_user_secret
MOMO_DISBURSEMENTS_PRIMARY_KEY=your_primary_key
